.active{
    font-weight: 700;
    color: #fff !important;
}
.start-50 {
    left: 50%!important;
}
.top-50 {
    top: 50%!important;
}
.translate-middle-x {
    transform: translateX(-50%)!important;
}
.end-0 {
    right: 0!important;
}
.start-0 {
    left: 0!important;
}
.bottom-0 {
    bottom: 0!important;
}

.top-0 {
    top: 0!important;
}
.me-3 {
    margin-right: 1rem!important;
}
.pe-auto{
    cursor: pointer;
}
.sidebar-brand-icon img{
    width: 90px;
}